{
    "swagger": "2.0",
    "info": {
        "title": "ASM Pentaho Data Objects REST Api",
        "description": "Api schema for interact with DWH engine (Pentaho) via REST interface\n\n**User Name and Password** to be used for testing with Pentaho Basic Auth\n* User Name: `user`\n* Password: `pass`\n",
        "version": "1.0.0",
        "contact": {
            "name": "g.martano@arenacube.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "bap.avacspro.com",
    "schemes": [
        "http"
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "Execute HTTP `Basic Authentication` before start any API calls. This APIs versions works only over `HTTP`."
        }
    },
    "basePath": "/pentaho/plugin/cda/api/doQuery?path=/public/AvacsPro/api/asm",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/acov-widget.cda&dataAccessId=acovD16Query&paramday_start={start}&paramday_end={end}&paramorg_name={org}": {
            "get": {
                "summary": "Acov Widgets Data Objects for Net Profit and Turnover (amount and change %) for Arena Challenge",
                "description": "REST Api returning data for the following data objects: \n* **ACOV.D1a/r** data objects (Net Profit Amount and Net Profit amount change for Arena Challenge - percentage)\n* **ACOV.D6a/r** data objects (Turnover and Turnover change - percentage)\n\nNote: Params must be `[bracket]` enclosed and `urlencoded`\n",
                "parameters": [
                    {
                        "name": "start",
                        "in": "path",
                        "description": "Start date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[1] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end",
                        "in": "path",
                        "description": "End date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[12] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "org",
                        "in": "path",
                        "description": "Organization name, in the format [$org_name] eg.[AssosPlayCOM] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "acov-widget"
                ],
                "responses": {
                    "200": {
                        "description": "Array of results (resultset array contain requested values).",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/acovD16Query"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Full authentication is required to access this resource"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/acov-widget.cda&dataAccessId=acovD345Query&paramday_start={start}&paramday_end={end}&paramorg_name={org}": {
            "get": {
                "summary": "Acov Widgets Data Objects",
                "description": "REST Api returning data for the following data objects: \n* **ACOV.D3a/r** data objects (Total Users and % change)\n* **ACOV.D4a/r** data objects (Fun Money Users and % change) -- ACTUALLY FUN MONEY/USERS IS NOT YET PROVIDED BY AC\n* **ACOV.D5a/r** data objects (Real Money Users and % change)\n\nNote: Params must be `[bracket]` enclosed and `urlencoded`\n",
                "parameters": [
                    {
                        "name": "start",
                        "in": "path",
                        "description": "Start date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[1] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end",
                        "in": "path",
                        "description": "End date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[12] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "org",
                        "in": "path",
                        "description": "Organization name, in the format [$org_name] eg.[AssosPlayCOM] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "acov-widget"
                ],
                "responses": {
                    "200": {
                        "description": "Array of results (resultset array contain requested values).",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/acovD345Query"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Full authentication is required to access this resource"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/acov-widget.cda&dataAccessId=acovD78Query&paramday_start={start}&paramday_end={end}&paramorg_name={org}": {
            "get": {
                "summary": "Acov Widgets Data Objects",
                "description": "REST Api returning data for the following data objects: \n* **ACOV.D7a/r** data objects (Fun money BuyIn and % change for Arena Challenge) -- ACTUALLY FUN MONEY IS NOT YET PROVIDED BY AC\n* **ACOV.D8a/r** data objects (Real money BuyIn and % change for Arena Challenge)\n\nNote: Params must be `[bracket]` enclosed and `urlencoded`\n",
                "parameters": [
                    {
                        "name": "start",
                        "in": "path",
                        "description": "Start date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[1] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end",
                        "in": "path",
                        "description": "End date for time period selector, in the format [YYYY].[MM].[DD] eg.[2016].[6].[12] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "org",
                        "in": "path",
                        "description": "Organization name, in the format [$org_name] eg.[AssosPlayCOM] .",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "acov-widget"
                ],
                "responses": {
                    "200": {
                        "description": "Array of results (resultset array contain requested values).",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/acovD78Query"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Full authentication is required to access this resource"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "acovD78Query": {
            "type": "object",
            "properties": {
                "queryInfo": {
                    "type": "object",
                    "description": "contains a unique fields named \"totalRows\" with total of rows in returned resulset (usually 1 in this case)."
                },
                "resultset": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/acovD78QueryRS"
                    }
                },
                "metadata": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/QueryMT"
                    }
                }
            }
        },
        "acovD78QueryRS": {
            "type": "object",
            "properties": {
                "col0": {
                    "type": "string",
                    "description": "The last day requested as param."
                },
                "col1": {
                    "type": "number",
                    "description": "The sum of the Fun Money buy-ins in the range date requested"
                },
                "col2": {
                    "type": "number",
                    "description": "The Fun Money buy-ins change % (with sign)."
                },
                "col3": {
                    "type": "number",
                    "description": "The sum of the Real Money buy-ins in the range date requested."
                },
                "col4": {
                    "type": "number",
                    "description": "The Real Money buy-ins  change % (with sign)."
                }
            }
        },
        "acovD345Query": {
            "type": "object",
            "properties": {
                "queryInfo": {
                    "type": "object",
                    "description": "contains a unique fields named \"totalRows\" with total of rows in returned resulset (usually 1 in this case)."
                },
                "resultset": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/acovD345QueryRS"
                    }
                },
                "metadata": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/QueryMT"
                    }
                }
            }
        },
        "acovD345QueryRS": {
            "type": "object",
            "properties": {
                "col0": {
                    "type": "string",
                    "description": "The last day requested as param."
                },
                "col1": {
                    "type": "number",
                    "description": "The number of total users that entered the game in Fun Money tables in the range date requested"
                },
                "col2": {
                    "type": "number",
                    "description": "The % of the relative change of the Fun Money Users  (with sign)."
                },
                "col3": {
                    "type": "number",
                    "description": "The number of total users that entered the game in Real Money tables in the range date requested."
                },
                "col4": {
                    "type": "number",
                    "description": "The % of the relative change of the Real Money Users  (with sign)."
                },
                "col5": {
                    "type": "number",
                    "description": "The number of total users  (fun + real) that entered the game in the range date requested."
                },
                "col6": {
                    "type": "number",
                    "description": "The Total Users relative change % (with sign)."
                }
            }
        },
        "acovD16Query": {
            "type": "object",
            "properties": {
                "queryInfo": {
                    "type": "object",
                    "description": "contains a unique fields named \"totalRows\" with total of rows in returned resulset (usually 1 in this case)."
                },
                "resultset": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/acovD16QueryRS"
                    }
                },
                "metadata": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/QueryMT"
                    }
                }
            }
        },
        "acovD16QueryRS": {
            "type": "object",
            "properties": {
                "col0": {
                    "type": "string",
                    "description": "The last day requested as param."
                },
                "col1": {
                    "type": "number",
                    "description": "The sum of Turnover Amount for Arena Challenge in the range date requested."
                },
                "col2": {
                    "type": "number",
                    "description": "The Turnover change % (with sign)."
                },
                "col3": {
                    "type": "number",
                    "description": "The sum of Net Profit Amount in the range date requested."
                },
                "col4": {
                    "type": "number",
                    "description": "The Net Profit change % (with sign)."
                }
            }
        },
        "QueryMT": {
            "type": "object",
            "properties": {
                "colIndex": {
                    "type": "string",
                    "description": "The colummn index for resultset."
                },
                "colType": {
                    "type": "string",
                    "description": "The colummn type (string|date|numeric..) for resultset."
                },
                "colName": {
                    "type": "string",
                    "description": "The colummn name for resultset."
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}